<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation debug="true">
    </compilation>

    <!--集群配置,某些类可能用到(stateserver,加密等)-->
    <machineKey validationKey="78AE3850338BFADCE59D8DDF58C9E4518E7510149C46142D7AAD7F1AD49D95D4" decryptionKey="5FC88DFC24EA123C" validation="SHA1"/>

    
  </system.web>

</configuration>
